@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

/* ============ Default Styles ================ */

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #4db6ac;
  background-color: #fff9c4;
}

input,
button,
textarea {
  font-size: inherit;
}

a {
  color: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

ul li {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
  vertical-align: top;
}

/* ============ Container Styles ================ */

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* ============ Header Styles ================ */

.header {
  padding-top: 20px;
  padding-bottom: 10px;
}

.title {
  font-size: 3rem;
  font-weight: 900;
  color: #004d40;
}

/* ============ Memes Wrapper Styles ================ */

.mem__wrapper {
  position: relative;
  padding: 20px 0;
  overflow: hidden;
  cursor: url("icons/cur.png"), auto;
}

.mem__wrapper:before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  height: 2px;
  background-color: #4db6ac;
}

.mem__checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.mem__label {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: inherit;
}

.mem__text {
  transition: color 0.3s ease;
}

.mem__text::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  right: 0;
  background-image: url('./icons/plus.svg');
  -webkit-background-size: 100%;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s, filter 0.3s;
}

.mem__image {
  width: 0;
  align-self: center;
  max-width: 350px;
  transform: scale(0);
  transition: transform 0.5s, width 1s;
}

/* ============ Memes Effects Styles ================ */
.mem__label:active{
  cursor: inherit;
}

.mem__wrapper:active{
  cursor: url("icons/cur-active.png"), auto;
}

.container:hover {
  color: #004d40;
}

.container:hover .mem__text:after {
  opacity: 1;
}

.mem__checkbox:checked + .mem__text {
  color: #004d40;
}

.mem__checkbox:checked ~ .mem__image,
.mem__wrapper:hover .mem__image {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  height: auto;
  transform: scale(100%);
}

.mem__checkbox:checked + .mem__text:after,
.mem__checkbox:not(:checked):hover + .mem__text:after {
  transform: rotate(45deg);
  filter: invert(22%) sepia(18%) saturate(2648%) hue-rotate(126deg) brightness(99%) contrast(101%);
}